* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.center {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0.2%;
    display: flex;
    flex-wrap: wrap;
}
header{
    background-color: white;
    padding: 20px 0;
    border-bottom: 1px solid blue;
}
.logo{
    color: blue;
    margin-left:10px;
    font-weight: bold;
   
}
.logo h2{
    font-weight:normal;
    font-size: 22px;
}
.menu{
    width: 80%;
    text-align: right;
}
.menu a {
    color: blue;
    font-size: 14px;
    text-decoration: none;
    margin-right: 20px;
    transition: 1s;
}
.menu a:hover{
    color: blueviolet;
}
.menu .btn-menu{
    background-color: blue;
    display: inline-block;
    padding: 8px 16px;
    color: white;
    border-radius: 8px;
}   
.menu .btn-menu:hover{
    background-color: cadetblue;
    color: white;
}

/* section */

section.main{
    background-image: url(https://www.marshallsindia.com/ImageBuckets/ItemImages/ZA%201903.jpg?id=75);
    padding: 70px 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.main_cta{
    width: 100%;
    text-align: center;
    margin: 60px 0;
}
.main_cta h2{
    color: blue;
    font-size: 40px;
}
.main_cta p{
    color: gray;
    font-size: 16px;
    margin: 10px 0;
}
.main_cta button{
    background-color: blue;
    display: inline-block;
    padding: 8px 30px;
    color: white;
    border-radius: 6px;
    font-size: 22px;
    border: 0;
    cursor: pointer;
}
.diferencial{
    display: flex;
    flex-wrap: wrap;

}
.diferencial-single{
    background-color: white;
    width:23%;
    margin-right: 2%;
    padding: 50px 20px;
    border-radius: 10px;
}
.diferencial-single i{
    color: blue;
    font-size: 23px;
}
.diferencial-single h2{
    color: blue;
    margin: 10px 0;
    font-size: 17px;
}
.diferencial-single p{
    color: gray;
    font-size: 14px;
    line-height: 20px;
}

@media screen and (max-width: 768px) {
    .diferencial-single{
        width: 100%;
        margin-bottom: 20px;
    }
    
}